@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

html,
body {
    margin: 0;
    padding: 0;

}


nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 760px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #17444c;
}


 /* .navbar{
    color:black;
    margin-left: 750px;
    line-height: 4em; 
    text-decoration: none;
   

}  */



section.hero{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(/images/edit.jpg);
    background-size: cover;
    margin-top:0px;
    display: flex;
    align-items: center;
    height:100vh ;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: beige;
    
}


 span{
    color: #287d74;
    font-size: 50px;
 }

button {
    color: antiquewhite;
    width: 150px;
    background-color: #287d74;
    padding: 14px 32px;
    border:2px solid #3d5054;
    margin-top: 5px;

}

section.About2{
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(1, 37, 40) 91.1%);
    
    height: 100vh;
}
div.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    max-width: 850px;

}

img {
    background-image: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(1, 37, 40) 91.1%);  
    max-width: 100%;
    height: 260;
    margin-right: 50px;
    border: 3px solid #317a86;
    box-shadow: 30px 30px 5px #287d74;
    -moz-box-shadow: 20px 20px 5px #217a81;
    -webkit-box-shadow: 20px 20px 5px #17444c;
    -khtml-box-shadow: 20px 20px 5px #155259;

 }
 .About2, content{
    flex:1; 
    padding: 0 10px;
    line-height: 1.6; 
    color: white;
 }

 h2{
    color: white;
    font-size:50px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
 }

 .para {
   text-align: center;
   color: white;
 } 

section.Skills{
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(1, 37, 40) 91.1%);
    padding: 5px;
    color: beige ;
  
 }

section.Contacts h1{
    padding-top: 10px;
    margin-left: 600px;

}
section.Contacts h2{
    margin-left: 200px;
}
section.Contacts{
  
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(2, 35, 38) 91.1%);
    padding: 75px; 
    color: white;
  
      
}
section div.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    max-width: 850px; 
}
.form1{
    width:50% ;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}
  
input[type=text] {
    padding: 12px 20px; 
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #748b8f;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(2, 35, 38) 91.1%);
}
  
.submit{
    color: white;
    width: 150px;
    margin-left: 280px;
    padding: 14px 32px;
    border-radius: 4px;
    margin-top: 5px;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(2, 35, 38) 91.1%);
}
.contact-info i img{
    margin-left: 100px;
    border: none;
    box-shadow: none;
}

.contact-info p{
    margin-left: 30px;
    color: #fff;
}

.footer{
    padding-top: 2px;
    text-align: center;
}
div footer span.foot{
    font-size: 20px;
}